@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserat/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserat/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Product-sans';
    src: url(../fonts/ProductSans/1234124.ttf);
}
