@import'root.css';    
.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header__menu{
 display: flex;

}
.header__nav{
    background: var(--dark);
    padding: 23px 0;
    
}
.header__menu-link{
    color:var(--white) ;
    text-transform: uppercase;
    margin-left: 55px;
    font-size: 20px;
    font-family: var(--ps);

}
.header__menu-link:hover{
    color: var(--yell);
}
.logo__letter-y{
    color: var(--yell);

}
.logo{
    color: var(--white);
    font-size: 26px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: block;
    line-height: 1;
    padding:6px 18px ;
    background: linear-gradient(-45deg,var(--yell),var(--white));
}
.logo:hover{
    color: var(--white);
}
.logo::before{
    content: '';
    position: absolute;
    background: var(--dark);
    z-index: -1;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}
.header__title{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 55px;
    margin-top: 155px;
    color: var(--white);
    
}

.header__desc{
    font-size: 22px;
    color: var(--white);
    text-align: justify;
    line-height: 27px;
}
.dropdown-item_bb-dark{
    border-bottom:1px solid var(--dark);
    
}
 .header__content{
    background: url(../img/header-img_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-grow: 1;
    display: flex;
    align-items: center;

}   
/* ************** Header End ************** */
.history{
    background: var(--dark);
    padding: 60px 0;
}
.history__title{
    color: var(--yell);
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.history__desc{ 
    color: var(--white);
    font-size: 18px;
    
    text-align: justify;
    
}
.history__title::before ,.history__title::after{
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: var(--white);
}
.history__title::before{
    margin-left: auto;
}
/* ****************** history end *******************/
.study{
    background: var(--dark__light);
    padding: 15px 0;
}
.study__title{
    text-transform: uppercase;
    color: var(--white);
    font-size: 24px;
    font-style: var(--m);
    font-weight: 700;
    margin-bottom: 2`0px;
}

.study__slider-prev,.study__slider-next{
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: var(--yell);
}
.study__slider-prev{
    left: 0;
}
.study__slider-next{
    right: 0;
}
.study__slider-prev i::after,.study__slider-next i::after{
color: #a5a6a6;

}
.study__slider-prev i:hover{
    color: var(--yell);
}
.study__slider-next i:hover{
    color: var(--yell);
}
.study__title_color-yellow{
    color: var(--yell);
}

.study__desc{
    color: var(--white);
    font-size: 18px;
    text-align: justify;
     
}
.study__img{
    border-radius: 6px;
    max-height: 370px;
    object-fit: cover;
    width: 100%;
}




 
